/* Avoid importing component-specific styles here */
:root {
  --main-font: "Reddit Sans", sans-serif;
  --primary-accent: rgb(69, 119, 120);
  --bg-color: #f4f4f4;
  --primary-accent-light: color-mix(in srgb, var(--primary-accent) 80%, black 20%);
  --primary-accent-dark: color-mix(in srgb, var(--primary-accent) 40%, black 60%);
  --button-hover-color: #0000001f;
  --button-warn-color: #ff00003f;
  --border-radius: 5px;
  --transition-speed: 0.3s;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
